@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../sass/base/fonts/Inter-Regular.woff') format('woff'),
    url('../sass/base/fonts/Inter-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../sass/base/fonts/Inter-Medium.woff') format('woff'),
    url('../sass/base/fonts/Inter-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../sass/base/fonts/Inter-SemiBold.woff') format('woff'),
    url('../sass/base/fonts/Inter-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../sass/base/fonts/Inter-Bold.woff') format('woff'),
    url('../sass/base/fonts/Inter-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('../sass/base/fonts/Inter-ExtraBold.woff') format('woff'),
    url('../sass/base/fonts/Inter-ExtraBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../sass/base/fonts/roboto-regular-webfont.woff') format('woff'),
    url('../sass/base/fonts/roboto-regular-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../sass/base/fonts/roboto-medium-webfont.woff') format('woff'),
    url('../sass/base/fonts/roboto-medium-webfont.woff2') format('woff2');
}
