

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../sass/base/fonts/roboto-regular-webfont.woff') format('woff'),
    url('../sass/base/fonts/roboto-regular-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../sass/base/fonts/roboto-medium-webfont.woff') format('woff'),
    url('../sass/base/fonts/roboto-medium-webfont.woff2') format('woff2');
}